body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.note1 {
    position: relative;
    width: 300px;
    height: 80px;
    color: #666;
    font-family: '微软雅黑';
    padding: 30px;
    margin: 100px;
    background: #FFBD07; /* Fallback */
    background:
    linear-gradient(-150deg,
    transparent 1.5em, #FFBD07 0);
    border-radius: .5em;
}
.note2 {
    position: relative;
    width: 300px;
    height: 80px;
    color: #666;
    font-family: '微软雅黑';
    padding: 30px;
    margin: 100px;
    background: #1ACAB9; /* Fallback */
    background:
    linear-gradient(-150deg,
    transparent 1.5em, #1ACAB9 0);
    border-radius: .5em;
}
.note3 {
    position: relative;
    width: 300px;
    height: 80px;
  	color: #666;
  	font-family: '微软雅黑';
    padding: 30px;
    margin: 100px;
    background: #FD7A4B; /* Fallback */
    background:
    linear-gradient(-150deg,
    transparent 1.5em, #FD7A4B 0);
    border-radius: .5em;
}
.note1::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    background: linear-gradient(to left bottom,
    transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4))
    100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
.note2::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    background: linear-gradient(to left bottom,
    transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4))
    100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
.note3::before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    background: linear-gradient(to left bottom,
    transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4))
    100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}
.title {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
.address {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 7px;
    width: 40%;
    left: 30%;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    -webkit-transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
    transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
}
.ok {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    left: 45%;
}
.label_url {
    font-size: 18px;
    text-align: center;
    color: red;
}
